.tooltip {
  position: relative;
  /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
  content: attr(data-text);
  /* here's the magic */
  position: relative;

  /* vertically center */
  left: 50%;
  transform: translateX(-50%);

  /* reset defaults */
  top: initial;
  margin: initial;

  /* set new values */
  bottom: 100%;
  margin-bottom: 5px;

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  display: none;
  /* hide by default */
}

.tooltip:hover:before {
  display: block;
  position: absolute;
}

.titlebar {
  height: 30px;
  background: rgb(109 40 217);
  color: white;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-button:hover {
  background: #7c3aed;
}

.region-card {
  min-width: 320px;
}

.btn-option {
  @apply rounded-sm text-white py-1 px-4 my-1 ml-1 hover:bg-violet-900 bg-violet-700;
}

.btn-option-inactive {
  @apply rounded-sm text-white py-1 px-4 my-1 ml-1 hover:bg-violet-500 bg-violet-400;
}

.dropdown {
  @apply rounded-md bg-purple-400
}